body, html{
	padding: 0;
	margin: 0;
}
body{
	font-family: 'Raleway', sans-serif;
	 background: #f7f7ff;
}

a, a:hover{
	text-decoration: none;
}
.container-fluid{
	padding:  0;
}
/* header */
.header{
	background-color: #ffffff;
	height: 70px;
	line-height: 70px;
}

.logo{
	 background-color: #4CAF50;
	color: #ffffff;
	text-transform: bold;
	letter-spacing: 1px;
	float: left;
	padding: 0px 20px 0px;
}

.menu {
   float: right;

}

.menu a {
	text-transform: bold;
	color: #000000;
	margin-right: 15px;
}

.menu a:hover {
	color: #C833FF;
}
.ban {
	width: 100%;
	max-width: 100%;
	position: relative; 
	
}
.ban img {
	width: 100%;
	max-width: 100%;
	
}


.active {
    background-color:#52FF4C;
padding: 9% 10PX;
}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}

.me-2 {
    margin-right: .5rem !important;
}
input {
	margin-bottom: 20px;
}
